.nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: -webkit-fill-available;
  background-color: rgba(5, 5, 5, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1;
  padding: 20px 32px;
  transition: 0.3s linear;
}

.hidden {
  width: -webkit-fill-available;
  z-index: 1;
  /* box-shadow: var(--box-shadow); */
  position: fixed;
  top: -110px;
  transition: 0.3s linear;
}

.icons {
  font-size: 38px;
  padding-left: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.icons svg {
  cursor: pointer;
}

#root > div > div > div > div.icons > svg:nth-child(2) {
  margin-left: 10px;
  /* font-size: 28px; */
}
